@import "tailwindcss";

@theme {
  --animate-gradient: gradient 6s linear infinite;

  @keyframes gradient {
    100% {
      background-position: 0% 50%;
    }
    0% {
      background-position: 100% 50%;
    }
  }

  --animate-appear: appear 1s ease-in-out;

  @keyframes appear {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }

  --animate-disappear: disappear 1s ease-in-out forwards;

  @keyframes disappear {
    0% {
      opacity: 100%;
    }
    100% {
      opacity: 0%;
    }
  }
}

.gradient-text-purple {
  background: linear-gradient(
    to right,
    #c084fc,
    #818cf8,
    #60a5fa,
    #818cf8,
    #c084fc,
    #818cf8,
    #60a5fa
  );
  background-clip: text;
  background-size: 300% 300%;
}

.gradient-text-red {
  background: linear-gradient(
    to right,
    #eab308,
    #f87171,
    #f97316,
    #f87171,
    #eab308,
    #f87171,
    #f97316
  );
  background-clip: text;
  background-size: 300% 300%;
}
